# Python
venv/
*.pyc
__pycache__/
.env
*.env
env/
ENV/

# Docker
# (You might not have these yet, but good to include for future)
# docker-compose.override.yml

# IDE / OS specific
.vscode/
.idea/
.DS_Store
*.swp